

body {
	background-image: url(my-images/neon.jpg); 
	background-size: 113%;
	font-family: 'Arvo', serif;
	font-weight: normal;
	color : black;
	font-size: 14px;
}

#profil{
	width: 100px;
}

.list-inline {
  list-style: none; 
  padding-left: 0px; 
  display: inline; 
  padding: 0px 20px;
  color: white;
}

.list-inline > li {
  display: inline; 
  padding: 0px 20px; 
}

a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
a:hover {
  color: #bf3f8f;
  text-decoration: none;
}

h1, h2, h3, h4{
color: #bf3f8f;
font-family: 'Press Start 2P', cursive;
font-weight: bold;
text-align: center;
font-size: 20px;
}

h1{font-size: 25px;}

.card-white{
	background-color: rgb(255 255 255 / 0.7);
    margin: 28px auto 28px auto;
    padding: 5px;
    width: 700px;
    border: 5px solid rgba(0, 0, 0, 0.1);
}

.text-justify{	
	text-align: justify;
}

.img-circle {
  border-radius: 50%;
  width:100px;
  text-align: center;
  margin:auto;
  display: flex;
}
 
.list-inline {
  list-style: none; 
  padding-left: 0px;
  font-size: 50px;
  text-align: center;

}

.list-inline > li {
  display: inline; 
  padding: 0px 20px; 
}

#site-button{
	text-align: center;
	background-color: #FF9900 ;
	width: 200px;
	padding: 10px;
	margin: 10px auto 10px auto;
	color: white;
}
 
 #div-logo{
    margin: auto auto auto auto;
    width: 700px;
    text-align: center;
    font-size: 50px;
    padding-left: 50px;
}

.container {
  width: 700px;
  margin: 40px auto; 
}